
/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: 'Times New Roman', Times, serif/* Ubuntu, sans-serif */;
    color: rgba(167, 53, 8, 0.678)/* #xxxxxx */;
}

h1 {
    font-size: /* x.xrem  (rem is a unit of measure) */;
    color: rgba(167, 53, 8, 0.678)/* #xxxxxx */;
}

h2 {
    font-size: /* x.xrem */;
    text-align: center;
    border-bottom: 3px solid rgba(167, 53, 8, 0.678);
}

header, main, footer {
    margin: 1.55rem auto;
    padding: .5rem;
    max-width: /* xxxpx (px = pixel is a unit of measure)  */;
}

header, footer, footer a {
    text-align: center;
    background-color: /* */;
    color: rgb(189, 85, 26);
}

header img {
    width: /*  */;
    height: 350px;
    float: right;
    border-radius: 28%;
}


    
footer {
    font-size: /* smaller */;
}