
body {
    background-color: #0E79E8;/*whole screen color */
	text-align: center;
	margin: -12px;
}
header {
	background-color: #107BEA;
	text-align: center;
}

header img, .headings {
	display: inline-block;
	vertical-align: left;
	margin: 10px;
	border-radius: 10%;
	height: 75px;
    float: left;
   
}

h1 {
    margin: 15px auto;
	background-color:#107BEA;
	text-align: center;
	font-family: 'Ubuntu', sans-serif
}

ul{
	
    margin: 40px auto;
	background-color: #286CB2
}

footer{
		background-color: #286CB2;
}
    /* Colors   53C8CE
                2CBAC1
                018B91
				016C71

				107BEA
				0E79E8
				126CC9
				286CB2
