
@media screen and (max-width: 400px){
.forecast {
	display: none;
}
body {
    background-color: #989793;/*whole screen color */
	text-align: center;
	margin: -12px;
	color: red;
}
ul {
	list-style-type: none;
  }
a {
	text-decoration: none;
}
.active{
    background-color: lime;
}
a:hover{
	background-color: yellow;
	color:#903842;
}
	.forecast{
	display:#935A3D;
}

p {
	margin: 110px;
	max-width: 500px;
}
table {
	display: none;
}

}

header {
	background-color: orange;
	text-align: center;
}
.snowboard{
	header img, .headings {
		display: inline-block;
		vertical-align: left;
		margin: 15px;
		border-radius: 30%;
		height: 20px;
	
		float: right;
	   

}
header img, .headings {
	display: inline-block;
	vertical-align: left;
	margin: 15px;
	border-radius: 10%;
	height: 60px;

    float: left;
   
}

h1 {
    margin: 1px auto;
	background-color:floralwhite;
	text-align: center;
	font-family: 'Ubuntu', sans-serif
}

ul{
	
	margin:40px auto;
	background-color: #F2D9ED
	
}

footer{
		background-color: rgb(199, 94, 23);
}
/*
#344B93  dark
#405EBA
#637CCA
#889CD8
#AEBBE5   light
*****
#F2D9ED  light

#903842   maroon
#935A3D   orange/brown
#989793		whitesnow
*/
